<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borax.myapp">

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【可选】 信鸽SDK所需权限 -->

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".activity.caughtcrash.CrashApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service android:name=".activity.versionupdate.UpdateService" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.listview.ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.fragment.FragmentActivity"
            android:label="@string/title_activity_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.fragment.FragmentListActivity"
            android:label="@string/title_activity_fragment_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.fragment.StandardDynamicFragmentActivity"
            android:label="@string/title_activity_standard_dynamic_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.ViewActivity"
            android:label="@string/title_activity_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.SimpleLayoutActivity"
            android:label="@string/title_activity_simple_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.SimpleViewActivity"
            android:label="@string/title_activity_simple_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.tablayout.TabLayoutActivity"
            android:label="@string/title_activity_tab_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.viewpager.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.viewpager.ViewPagerAnimationActivity"
            android:label="@string/title_activity_view_pager_animation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.viewpager.ViewPagerMulitItemActivity" />
        <activity
            android:name=".activity.cardview.CardViewActivity"
            android:label="@string/title_activity_card_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cardview.CardViewMainActivity"
            android:label="@string/title_activity_card_view_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cardview.CardViewGalleryActivity"
            android:label="@string/title_activity_card_view_gralley"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign.MaterialDesginMainActivity"
            android:label="@string/title_activity_material_desgin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign.ImageViewActivity"
            android:label="@string/title_activity_image_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign4x.MaterialDesign4xMainActivity"
            android:label="@string/title_activity_material_design4x_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign.PathInterpolatorActivity"
            android:label="@string/title_activity_path_interpolator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.encrypt.EncryptActivity"
            android:label="@string/title_activity_encrypt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.encrypt.AesActivity"
            android:label="@string/title_activity_aes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.mvp.MVPActivity"
            android:label="@string/title_activity_mvp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TestActivity" />
        <activity
            android:name=".activity.lottie.LottieActivity"
            android:label="@string/title_activity_lottie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.caughtcrash.CrashActivity" />
        <activity
            android:name=".activity.onstep.OneStepActivity"
            android:label="@string/title_activity_one_step"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.shengchong.activity.ScActivity"
            android:label="@string/title_activity_sc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.recyclerviewpager.RecyclerViewPager"
            android:label="@string/title_activity_recycler_view_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.recyclerviewpager.RecyclerViewPagerAcitivty"
            android:label="@string/title_activity_recycler_view_pager_acitivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.versionupdate.VersionUpdateActivity" />
        <activity android:name=".activity.waveview.WaveActivity" />
        <activity android:name=".activity.view.VelocityTrackerAcitvity" />
        <activity
            android:name=".activity.template.BaiscActivity"
            android:label="@string/title_activity_baisc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.template.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".activity.template.EmptyActivity" />
        <activity
            android:name=".activity.template.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.template.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.template.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.template.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.template.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.template.TemplateActivity"
            android:label="TemplateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.GestureDetectorActivity"
            android:label="@string/title_activity_gesture_detector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.MoveViewActivity"
            android:label="@string/title_activity_move_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.view.ScrollViewWithListView" />
        <activity android:name=".activity.view.ScrollViewWithListViewActivity" />
        <activity
            android:name=".activity.pulltorefresh.PullToRefreshActivity"
            android:label="@string/title_activity_pull_to_refresh"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.SaintiActivity"
            android:label="@string/title_activity_sainti"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.sainti.SplashActivity" />
        <activity
            android:name=".activity.sainti.adViewPager.AdViewPagerActivity"
            android:label="@string/title_activity_ad_view_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.photoView.PicsActivity"
            android:label="@string/title_activity_pics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.sainti.photoView.PhotoViewActivity" />
        <activity
            android:name=".activity.sainti.uploadPics.UploadPicsActivity"
            android:label="@string/title_activity_upload_pics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.download.DownloadMainActivity"
            android:label="@string/title_activity_download_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.download.MultipleTasksActivity"
            android:label="@string/title_activity_multiple_tasks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.sainti.download.SingleTaskActivity" />
        <activity
            android:name=".activity.sainti.city.PickCityActivity"
            android:label="@string/title_activity_pick_city"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.webbiew.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.selectSinglePhoto.SelectSingleActivity"
            android:label="@string/title_activity_select_single"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.selectMultiPhotos.SelectMultiPhotoActivity"
            android:label="@string/title_activity_select_multi_photo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_video"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.radio.UploadRadioActivity"
            android:label="@string/title_activity_upload_radio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.loading.LoadingActivity"
            android:label="@string/title_activity_loading"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.sainti.guide.GuideActivity" />
        <activity
            android:name=".activity.sainti.ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.waterfall.WaterfallActivity"
            android:label="@string/title_activity_waterfall"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.ninepicupload.NinePicUploadActivity"
            android:label="@string/title_activity_nine_pic_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.spinner.TopMenuActivity"
            android:label="@string/title_activity_top_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.spinner.BottomMenuActivity"
            android:label="@string/title_activity_bottom_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.expandlistview.ExpandListViewActivity"
            android:label="@string/title_activity_expand_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.gesture.CreateGestureActivity"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".activity.sainti.ratingbar.RatingBarActivity"
            android:label="@string/title_activity_rating_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.scan.ScanActivity"
            android:label="@string/title_activity_scan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.sainti.flowlayout.FlowLayoutActivity"
            android:label="@string/title_activity_flow_layout"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>