<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borax.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".activity.caughtcrash.CrashApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service android:name=".activity.versionupdate.UpdateService" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.listview.ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.fragment.FragmentActivity"
            android:label="@string/title_activity_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.fragment.FragmentListActivity"
            android:label="@string/title_activity_fragment_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.fragment.StandardDynamicFragmentActivity"
            android:label="@string/title_activity_standard_dynamic_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.ViewActivity"
            android:label="@string/title_activity_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.SimpleLayoutActivity"
            android:label="@string/title_activity_simple_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.SimpleViewActivity"
            android:label="@string/title_activity_simple_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.tablayout.TabLayoutActivity"
            android:label="@string/title_activity_tab_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.viewpager.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.viewpager.ViewPagerAnimationActivity"
            android:label="@string/title_activity_view_pager_animation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.viewpager.ViewPagerMulitItemActivity" />
        <activity
            android:name=".activity.cardview.CardViewActivity"
            android:label="@string/title_activity_card_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cardview.CardViewMainActivity"
            android:label="@string/title_activity_card_view_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cardview.CardViewGalleryActivity"
            android:label="@string/title_activity_card_view_gralley"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign.MaterialDesginMainActivity"
            android:label="@string/title_activity_material_desgin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign.ImageViewActivity"
            android:label="@string/title_activity_image_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign4x.MaterialDesign4xMainActivity"
            android:label="@string/title_activity_material_design4x_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.materialdesign.PathInterpolatorActivity"
            android:label="@string/title_activity_path_interpolator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.encrypt.EncryptActivity"
            android:label="@string/title_activity_encrypt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.encrypt.AesActivity"
            android:label="@string/title_activity_aes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.mvp.MVPActivity"
            android:label="@string/title_activity_mvp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TestActivity" />
        <activity
            android:name=".activity.lottie.LottieActivity"
            android:label="@string/title_activity_lottie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.caughtcrash.CrashActivity" />
        <activity
            android:name=".activity.onstep.OneStepActivity"
            android:label="@string/title_activity_one_step"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.shengchong.activity.ScActivity"
            android:label="@string/title_activity_sc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.recyclerviewpager.RecyclerViewPager"
            android:label="@string/title_activity_recycler_view_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.recyclerviewpager.RecyclerViewPagerAcitivty"
            android:label="@string/title_activity_recycler_view_pager_acitivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.versionupdate.VersionUpdateActivity" />
        <activity android:name=".activity.waveview.WaveActivity" />
        <activity android:name=".activity.view.VelocityTrackerAcitvity" />
        <activity
            android:name=".activity.template.BaiscActivity"
            android:label="@string/title_activity_baisc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.template.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".activity.template.EmptyActivity" />
        <activity
            android:name=".activity.template.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.template.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.template.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.template.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.template.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.template.TemplateActivity"
            android:label="TemplateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.GestureDetectorActivity"
            android:label="@string/title_activity_gesture_detector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.view.MoveViewActivity"
            android:label="@string/title_activity_move_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.view.ScrollViewWithListView" />
        <activity android:name=".activity.view.ScrollViewWithListViewActivity"></activity>
    </application>

</manifest>